#topbar {
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0 200px;
  position: fixed;
  z-index: 200;
  width: 100%;
}

#logo {
  height: 10vh;
  display: flex;
  align-items: center;
}

#topbar h1 {
  font-size: 34px;
  color: #194491;
  padding-left: 50px;
}

#topbar button {
  background-color: #194491;
  color: white;
  padding: 18px 25px;
  font-size: 14.5px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

#logo {
  height: 100%;
}

#topbar p {
  letter-spacing: 1.8px;
  color: #194491;
  font-weight: bold;
  cursor: pointer;
}

#user {
  background-color: white;
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  padding: 10px 50px 10px 80px;
}

#user button {
  background-color: #194491;
  color: white;
  padding: 5px 25px;
  font-size: 14.5px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  cursor: pointer;
}
#user input {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

#user h3 {
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
